<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/edit.css">
    <title>Document</title>
</head>
<body>
    <h1>Edit Post</h1> 
    <p>id:<%= post.id %></p>
    <p>Username: <%= post.username %></p>
    
    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">

       <textarea name="content"><%= post.content %></textarea><br><br>
       <button>Submit</button>
    </form>
   
</body>
</html>