<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/from.css">
    
    <title>From</title>
</head>
<body>
    <h1>ADD NEW POST</h1>
    <form  method="POST" action="/posts" >
        <label for="username">username:</label>
        <input type="text" placeholder="Enter Your name" id="username" name="username">
        <br><br>
         <label for="content">content:</label><br><br>
        <textarea cols="50" rows="8" id="content" name="content" placeholder="Enter text here!"></textarea>
        <br><br>

        <button>Submits</button>


    </form>
</body>
</html>