<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/show.css">

    <title>Document</title>
</head>
<body>
    <h3>Post Details</h3>
    <p class="para">ID:<%= post.id %></p>
   <div class="box">
        <h2>Username:@<%= post.username %></h2>
        <p><b>Content:</b><%= post.content %></p>
       
   </div>
</body>
</html>

